@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Concert+One&family=Oswald&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Laila&family=Oswald&family=Sigmar+One&display=swap');


.p-1{
    text-align: center;
    font-family: 'Laila', sans-serif;
}
.project{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}

.project-card{
    /* height: 50vh; */
    height: 400px;
    width: 22vw;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /* background-color: #F9D030; */
    
}
.project-card img{
    height: 50px; 
    width: auto; 
    margin-top: 40px;
    /* border: 1px solid red; */
    margin-bottom: 30px;
}
.project-card ul{
    /* border: 1px solid green; */
    height: 25vh;
    font-family: "Poppins", Arial, sans-serif;
    font-size: medium;
    padding:  10px;
    margin: 20px;
    list-style: none;
}
.project-card ul li::before {
    
    content: "•"; 
    display: inline-block; 
    width: 1em;
    margin-left: -1rem;
}

.project-card .icons{
    margin-left: 217px;
    /* border: 1px solid blue; */
    height: 20vh;
    width: 5vw;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px 20px 0;
}
